node_modules/**
carelessscript.mySteamPasskey.txt
shepherd_app_client_side/README.md
shepherd_app_client_side/package-lock.json
shepherd_app_client_side/node_modules/**
labeled_images/**
test_images/**
__pycache__/**
Android/**
documentation/**
img/**
iOS/**
shepherd_app_client_side/bun.lockb
package-lock.json
shepherd_app_client_side/__node_modules/**
shepherd_app_client_side/yarn.lock
shepherd_app_client_side/__package-lock.json
