node_modules/**
carelessscript.mySteamPasskey.txt
shepherd_app_client_side/README.md
shepherd_app_client_side/package-lock.json
shepherd_app_client_side/node_modules/**
labeled_images/**
test_images/**
__pycache__/**
shepherd_app_client_side/bun.lockb
package-lock.json
